array(2) {
[0]=>
array(5) {
["weChatInfo"]=>
array(14) {
["subscribe"]=>
int(1)
["openid"]=>
string(28) "op_GUt4Ea7M9p0WO7wCJ4CsQKiLo"
["nickname"]=>
string(9) "JGuanGYao"
["sex"]=>
int(1)
["language"]=>
string(5) "zh_CN"
["city"]=>
string(6) "深圳"
["province"]=>
string(6) "广东"
["country"]=>
string(6) "中国"
["headimgurl"]=>
string(127) "http://wx.qlogo.cn/mmopen/5kJxe5yUPV0mMQ5pAQVN1YQtJeKHk4al0l2PHnf4TILiaib8bs9yhMzAsJqDiboz5pfP9JgUSMWy4HIRZ9QjQOwyqaZTyMl49E5/0"
["subscribe_time"]=>
int(1479461907)
["unionid"]=>
string(28) "ojd7BvjwAtRZoXVuywPHUYBNVpZ8"
["remark"]=>
string(0) ""
["groupid"]=>
int(0)
["tagid_list"]=>
array(0) {
}
}
["imageName"]=>
string(32) "op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["weChatHead"]=>
string(42) "/tmp/head_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["barcode_path"]=>
string(45) "/tmp/barcode_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["card_path"]=>
string(42) "/tmp/card_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
}
[1]=>
string(53) "/qrcode/20161119/c4bc8cb8b1914bb72e15d9d75c10357e.png"
}





array(2) {
[0]=>
array(5) {
["weChatInfo"]=>
array(3) {
["openid"]=>
string(28) "op_GUt4Ea7M9p0WO7wCJ4CsQKiLo"
["headimgurl"]=>
string(127) "http://wx.qlogo.cn/mmopen/5kJxe5yUPV0mMQ5pAQVN1YQtJeKHk4al0l2PHnf4TILiaib8bs9yhMzAsJqDiboz5pfP9JgUSMWy4HIRZ9QjQOwyqaZTyMl49E5/0"
["nickname"]=>
string(9) "JGuanGYao"
}
["imageName"]=>
string(32) "op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["weChatHead"]=>
string(42) "/tmp/head_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["barcode_path"]=>
string(45) "/tmp/barcode_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
["card_path"]=>
string(42) "/tmp/card_op_GUt4Ea7M9p0WO7wCJ4CsQKiLo.jpg"
}
[1]=> string(53) "/qrcode/20161119/6740d6b5bb59fd985544d559f6d3ee1a.png"
}
