<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src=""></script>
    <script src="__PUBLIC__/dropzone/dist/dropzone.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/dropzone/dist/dropzone.css">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
<div id="dropz" class="dropzone"></div>

</body>
</html>
<script>

    /**
     * 简单利用Dropzone实现的图片上传功能
     * @type {boolean}
     */
    Dropzone.autoDiscover = false;
    var dropz = new Dropzone("#dropz",{
        url : 'upload',
        maxFiles : 10,
        maxFilesize : 512,
        acceptedFiles : ".jpg"
    });
</script>